/* General Layout */
.deposit-container {
    font-family: "Hammersmith One", sans-serif;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: linear-gradient(45deg, #ffffff 0%, #f7f9fc 100%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 120px;
 }
 /* Hide the arrows in Chrome, Safari, Edge, and Opera */
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the arrows in Firefox */
.no-arrows {
    -moz-appearance: textfield;
}

 
 /* Title */
 .deposit-title {
    font-size: 24px;
    color: #003349;
    text-align: center;
    margin-bottom: 20px;
 }
 
 /* Input Fields */
 .deposit-container input[type="text"],
 .deposit-container input[type="number"] {
    font-family: "Hammersmith One", sans-serif;
    width: 95%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ebeff0;
    border-radius: 8px;
    font-size: 16px;
    color: #555;
    background-color: #f7f9fc;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
 }
 
 .deposit-container input[type="text"]:read-only {
    background-color: #e8faff;
    color: #555;
 }
 
 /* Button */
 .deposit-container button {
    width: 100%;
    padding: 12px;
    color: #ffffff;
    background: linear-gradient(45deg, #018fcc 0%, #007bbd 100%);
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
 }
 
 .deposit-container button:hover {
    background: linear-gradient(45deg, #d1f4ff 0%, #e8faff 100%);
    color: #003349;
    transform: scale(1.05);
 }
 
 /* Message Styling */
 .deposit-message {
    color: #e74c3c;
    text-align: center;
    margin-top: 10px;
 }
 
 /* File Upload */
 .deposit-file-upload {
    margin-top: 20px;
    text-align: center;
 }
 
 .deposit-file-upload input[type="file"] {
    display: none;
 }
 
 .deposit-file-upload label {
    display: inline-block;
    font-family: "Hammersmith One", sans-serif;
    font-size: 16px;
    color: #555;
    background: #f7f9fc;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #ebeff0;
    cursor: pointer;
    transition: background 0.3s;
 }
 
 .deposit-file-upload label:hover {
    background: #e8faff;
 }
 
 /* Image Preview */
 .deposit-image-preview {
    margin-top: 15px;
    text-align: center;
 }
 
 .deposit-image-preview img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
 }
 