.title {
   color: #555;
   margin: 0px;
   padding: 12px;
}

.text {
   font-size: 16px;
   color: #555;
   margin: 0px;
}

.text-left,
.text-right {
   font-size: 16px;
   color: #555;
   margin: 0px;
}

.text-right {
   margin-left: auto;
}

.userpayment-container {
   font-family: "Hammersmith One";
   width: calc(100vw - 40px);
   height: calc(100vh - 100px);
   background: linear-gradient(45deg, #ffffff 0%, #ffffff 90%, #f7f9fc 100%);
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   padding: 10px;
   margin: 10px;
   margin-top: 70px;
}

.userpayment-details-container {
   height: calc(100% - 55px);
   display: flex;
}

.payment-container {
   width: calc(100% - 300px);
   display: flex;
}

.selector {
   font-family: "Hammersmith One";
   font-size: 14px;
   color: #555;
   width: 250px;
   background-color: #f9fbfc;
   border: 2px solid #ebeff0;
   border-radius: 10px;
   padding: 8px;
   margin: 0 12px;
   transition: 0.3s;
}

.selector:hover {
   color: #555;
   background: linear-gradient(45deg, #d1f4ff 0%, #e8faff 100%);
   border: 2px solid #d1f4ff;
   cursor: pointer;
}

.pay-now-button {
   font-family: "Hammersmith One";
   font-size: 14px;
   color: #ffffff;
   width: 250px;
   background: linear-gradient(45deg, #003349 0%, #002e42 100%);
   border: 2px solid #018fcc;
   border-radius: 10px;
   padding: 8px;
   margin: auto 0px 0px auto;
   margin-right: 10px;
   transition: 0.3s;
}

.pay-now-button:hover {
   color: #555;
   background: linear-gradient(45deg, #d1f4ff 0%, #e8faff 100%);
   border: 2px solid #d1f4ff;
   cursor: pointer;
}

.breakdown-container {
   width: 300px;
   background-color: #f9fbfc;
   border: 2px solid #ebeff0;
   border-radius: 10px;
}

.payment-breakdown-container {
   width: 300px;
   position: fixed;
   bottom: 18px;
}

.item {
   display: flex;
   padding: 0px 12px;
   margin-bottom: 12px;
}

.line {
   background-color: transparent;
   border-color: #555;
   border-radius: 10px;
   margin: 0px 12px;
   margin-bottom: 12px;
}

.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
}

.modal-content {
   background: #fff;
   padding: 20px;
   border-radius: 10px;
   width: 300px;
   text-align: center;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-title {
   margin: 0;
   padding-bottom: 10px;
   font-size: 18px;
   color: #333;
}

.modal-buttons {
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
}

.modal-button {
   padding: 8px 16px;
   border: none;
   border-radius: 5px;
   font-size: 14px;
   cursor: pointer;
   transition: background 0.3s;
}

.modal-button.confirm {
   background: #28a745;
   color: #fff;
}

.modal-button.confirm:hover {
   background: #218838;
}

.modal-button.cancel {
   background: #dc3545;
   color: #fff;
}

.modal-button.cancel:hover {
   background: #c82333;
}

.success-message {
   color: green;
   font-weight: bold;
}

.error-message {
   color: red;
   font-weight: bold;
}
