.title-bright {
   color: #ffffff;
   margin: 0px;
   padding: 12px;
}

.text-bright {
   color: #ffffff;
   margin: 0px;
   padding: 0px 12px 0px 12px;
}

.userpaymentoption-container {
   height: 100%;
   width: 70%;
   background: linear-gradient(45deg, #003349 0%, #002e42 100%);
   border: 2px solid #018fcc;
   border-radius: 10px;
   transition: 0.3s;
}

.userpaymentoption-container:hover {
   background: linear-gradient(45deg, #d1f4ff 0%, #e8faff 100%);
   border: 2px solid #d1f4ff;
   cursor: pointer;
}

.userpaymentoption-container:hover .title-bright {
   color: #555;
}

.userpaymentoption-container:hover .text-bright {
   color: #555;
}

.userpaymentoption-container:hover .option-icon {
   filter: brightness(0) saturate(100%) invert(32%) sepia(1%) saturate(0%)
      hue-rotate(54deg) brightness(96%) contrast(89%);
}

.option-icon-container {
   height: calc(100% - 48px);
   display: flex;
   justify-content: center;
   align-items: flex-start;
}

.option-icon {
   height: calc(100% - 24px - 14px);
}
