.usertransfer-container {
   font-family: "Hammersmith One";
   width: calc(100vw - 40px);
   height: calc(100vh - 100px);
   background: linear-gradient(45deg, #ffffff 0%, #ffffff 90%, #f7f9fc 100%);
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   padding: 10px;
   margin: 10px;
   margin-top: 70px;
}

.title {
   color: #555;
   padding: 12px;
   font-size: 24px;
}

.usertransfer-details-container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 12px;
}

.transfer-input-group {
   display: flex;
   flex-direction: column;
   margin-bottom: 8px;
}

.text {
   font-size: 16px;
   color: #555;
   margin-bottom: 8px;
}

.input-box {
   font-family: "Hammersmith One";
   font-size: 14px;
   color: #555;
   width: 100%;
   padding: 8px;
   border: 2px solid #ebeff0;
   border-radius: 10px;
   transition: 0.3s;
}

.input-box:focus {
   outline: none;
   border: 2px solid #3498db;
}

.transfer-button {
   font-family: "Hammersmith One";
   font-size: 16px;
   color: #ffffff;
   background: linear-gradient(45deg, #003349 0%, #002e42 100%);
   border: 2px solid #018fcc;
   border-radius: 10px;
   text-align: center;
   padding: 10px 20px;
   margin-top: 10px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.transfer-button:hover {
   background: linear-gradient(45deg, #d1f4ff 0%, #e8faff 100%);
   color: #555;
   border: 2px solid #d1f4ff;
}

.success-message {
   color: #2ecc71;
   font-size: 16px;
   margin-top: 18px;
}

.error-message {
   color: #e74c3c;
   font-size: 16px;
   margin-top: 18px;
}

.transfer-input {
   font-family: "Hammersmith One";
   font-size: 14px;
   background-color: #f9fbfc;
   border: 2px solid #ebeff0;
   padding: 8px;
   border-radius: 10px;
}
