.title {
   color: #555;
   margin: 0px;
   padding: 12px;
}

.title-bright {
   color: #ffffff;
   margin: 0px;
   padding: 12px;
}

.text {
   color: #555;
   margin: 0px;
}

.text-bright {
   color: #ffffff;
   margin: 0px;
}

.view-all-text {
   color: #555;
   text-align: center;
}

.userdashboard-container {
   min-height: calc(100vh - 20px - 60px);
   width: calc(100vw - 20px);
   background-color: #f7f9fc;
   padding: 10px;
}

.welcome-container {
   height: 30px;
   background: linear-gradient(45deg, #003349 0%, #002e42 100%);
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   padding: 10px;
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}

.details-container {
   min-height: calc(100vh - 20px - 60px - 60px);
   width: 100%;
   display: flex;
}

.details-left-container {
   height: calc(100vh - 20px - 60px - 60px - 20px);
   width: 100%;
   margin-right: 30px;
}

.details-right-container {
   height: calc(100vh - 20px - 60px - 60px - 20px);
   width: 320px;
}

.account-balance-container {
   height: 200px;
   width: 100%;
   background: linear-gradient(45deg, #00c3ff 0%, #b2edff 100%);
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   padding: 10px;
   margin-bottom: 10px;
}

.account-details-container {
   height: calc(100% - 230px);
   width: 100%;
   background: linear-gradient(45deg, #ffffff 0%, #ffffff 90%, #f7f9fc 100%);
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   padding: 10px;
}

.recent-transactions-container {
   min-height: 100%;
   width: 300px;
   background: linear-gradient(45deg, #ffffff 0%, #ffffff 90%, #f7f9fc 100%);
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   padding: 10px;
}

.transaction {
   width: calc(100% - 48px);
   background: linear-gradient(45deg, #d1f4ff 0%, #e8faff 100%);
   border-radius: 10px;
   border-color: #ffffff;
   border: 2px solid #d1f4ff;
   padding: 12px;
   margin: 0px 12px 12px 12px;
}
