.title-bright {
   color: #ffffff;
   margin: 0px;
   padding: 12px;
}

.text-bright {
   color: #ffffff;
   margin: 0px;
   padding: 0px 12px 0px 12px;
}

.payment-container {
   height: 100%;
   width: calc(100% * (1 / 3));
   background: linear-gradient(45deg, #003349 0%, #002e42 100%);
   border: 2px solid #018fcc;
   border-radius: 10px;
   transition: 0.3s;
}

.payment-container:hover {
   background: linear-gradient(45deg, #d1f4ff 0%, #e8faff 100%);
   border: 2px solid #d1f4ff;
   cursor: pointer;
}

.payment-container:hover .title-bright {
   color: #555;
}

.payment-container:hover .text-bright {
   color: #555;
}
