node_modules
venv
django_backend/.env
backend_django_client/.env
*.pyc
env
__pycache__/
db.sqlite3
backend_django_client/.env
backend_django_client/db.sqlite3
backend_django_client/backend_django_client/__pycache__
.env