@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

:root {
    --font-family: 'Hammersmith One', sans-serif; /* Define a CSS variable for easier reuse */
    font-family: var(--font-family);
}

body {
    font-family: var(--font-family); /* Use the CSS variable for the font family */

    background-color: #f7f9fc; /* Set a default background color if needed */
}