.user-navbar {
   display: flex;
   align-items: center;
   justify-content: space-between; /* Ensure that content stretches across */
   padding: 0 20px;
   background: linear-gradient(45deg, #ffffff 0%, #ffffff 90%, #f7f9fc 100%);
   height: 60px;
   width: 98%; /* Ensures it spans the full width */
   position: fixed; /* Stick it to the top */
   top: 0;
   left: 0;
   color: #555;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   z-index: 1000; /* Ensure it's above other content */
}


.user-navbar-logo img {
   height: 100%;
   max-height: 50px;
   margin-right: 10px;
}

.user-navbar-center {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

.user-navbar-left {
   flex: 1;
   display: flex;
   align-items: center;
}

.user-navbar-option {
   margin-left: 20px;
   padding: 10px;
}


.user-navbar-option:hover {
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   background-color: #6c90ae;
}

.user-navbar-option a {
   color: #333333;
   text-decoration: none;
   font-size: 16px;
}

.user-navbar-option {
   padding: 8px 12px;
   margin-left: auto;
   transition: 0.5s;
}

